/csv_outputs/
/csv_outputs_pitch_1/
/models/
/test_data/
/test_data_annotated/
/test_data_annotated_pitch_1/
/test_data_optical_flow/
/test_data_pitch_1/
labels.txt
labels_pitch_1.txt
create_test_data.py
